<!DOCTYPE html>
<html>
  <head>
    <title>零件信息表</title>
	<meta charset="utf-8">
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/common.css' />
	<link rel='stylesheet' href='/stylesheets/table_style.css' />
  </head>
  <body>
    <div class="container">
		<div class="main">
			<div class="select">
				<form action="/like" method="get">
					<select name="selectVal">
							<option value="pno">按零件号筛选</option>
							<option value="pname">按名称筛选</option>
							<option value="unit_price">按单价筛选</option>
							<option value="size">按规格筛选</option>
							<option value="describes">按描述筛选</option>
					</select>
					<div class="search">
						<input type="text" name="like">
						<input type="text" name="sno" value="<%= sno %>" style="display: none;" />
						<button class="searchBtn">
							<img src="/images/search.png" width="25px" height="25px">
						</button>
					</div>
				</form>
				<button id="addBtn">+</button>
			</div>
			<div class="content">
				<table class="table">
					<thead>
						<tr>
							<th>零件号</th>
							<th>名称</th>
							<th>单价(元/个)</th>
							<th>规格(cm)</th>
							<th>描述</th>
							<th>供应商号</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<% tablelist.forEach(function(item){ %>
						<tr>
							<td><%= item.pno %></td>
							<td><%= item.pname %></td>
							<td><%= item.unit_price %></td>
							<td><%= item.size %></td>
							<td><%= item.describes %></td>
							<td><%= item.sno %></td>
							<td>
								<img src="/images/modify.png" class="edit" width="25px" height="25px" data-id="<%= item.pno %>" data-pname="<%= item.pname %>" data-unit_price="<%= item.unit_price %>" data-size="<%= item.size %>" data-describes="<%= item.describes %>">
								<img src="/images/delete.png" class="del" width="25px" height="25px" data-id="<%= item.pno %>">
							</td>
						</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="dialog isDialog"></div>
	<div class="dialog-wrap isDialog">
		<div class="dialog-header">
			<h3>添加零件</h3>
			<div class="close">
				<img src="/images/close.png" style="width:25px;height:25px">
			</div>
		</div>
		<form action="/addPart" method="post">
			<div>
				<p>零件号(唯一标识，不能重复)</p>
				<p>
					<input type="text" class="form-control" name="pno" />
				</p>
			</div>
			<div>
				<p>名称</p>
				<p>
					<input type="text" class="form-control" name="pname" />
				</p>
			</div>
			<div>
				<p>单价(元/个)</p>
				<p>
					<input type="text" class="form-control" name="unit_price" />
				</p>
			</div>
			<div>
				<p>规格(cm)</p>
				<p>
					<input type="text" class="form-control" name="size" />
				</p>
			</div>
			<div>
				<p>描述</p>
				<p>
					<input type="text" class="form-control" name="describe" />
				</p>
			</div>
			<div>
				<p>
					<input type="text" class="form-control" name="sno" value="<%= sno %>" style="display: none;" />
				</p>
			</div>			
			<div class="dialog-submit">
				<button class="determine">确定</button>
			</div>
		</form>
		<div class="dialog-table-add">
			<button class="cancel">取消</button>	
		</div>
	</div>
	
	<div class="dialog isDelete"></div>
	<div class="dialog-wrap isDelete">
		<div class="dialog-header">
			<h3>确定是否删除?</h3>
			<div class="close">
				<img src="/images/close.png" style="width:25px;height:25px">
			</div>
			<div class="dialog-footer">
				<button class="determine determineDel">确定</button>
				<button class="cancel">取消</button>
			</div>			
		</div>
	</div>

  <script src="/javascripts/jquery.js"></script>
  <script>
	$(function(){
		var pno = '';
		var updateHtml = '';
		//显示表单
		$('#addBtn').click(function(){
			$('.isDialog').show();
		})
		//隐藏表单
		$('.close,.cancel').click(function(){
			$('.isDialog').hide();
		})
		//点击删除
		$('.del').click(function(){
			pno = $(this).data('id');
			$('.isDelete').show();
		})
		//隐藏删除
		$('.close,.cancel').click(function(){
			$('.isDelete').hide();
		})
		//点击确定删除
		$('.determineDel').click(function(){
			window.location.href = `/del?pno=${pno}&sno=<%= sno %>`;
		})
		
		//点击修改操作
		$('.edit').click(function(){
			var updateId = $(this).data('id');
			var updateName = $(this).data('pname');
			var updatePrice = $(this).data('unit_price');
			var updateSize = $(this).data('size');
			var updateDescribes = $(this).data('describes');
			updateHtml = `
			<div class="dialog isUpdate"></div>
				<div class="dialog-wrap isUpdate">
				<div class="dialog-header">
					<h3>修改零件</h3>
					<div class="close">
						<img src="/images/close.png" style="width:25px;height:25px">
					</div>
				</div>
				<form action="/updatePart" method="post">
					<div>
						<p>零件号: ${updateId}</p>
						<p>
							<input type="text" class="form-control" name="pno" value="${updateId}" style="display: none;" />
						</p>
					</div>
					<div>
						<p>名称</p>
						<p>
							<input type="text" class="form-control" name="pname" value="${updateName}" />
						</p>
					</div>
					<div>
						<p>单价(元/个)</p>
						<p>
							<input type="text" class="form-control" name="unit_price" value="${updatePrice}" />
						</p>
					</div>
					<div>
						<p>规格(cm)</p>
						<p>
							<input type="text" class="form-control" name="size" value="${updateSize}" />
						</p>
					</div>
					<div>
						<p>描述</p>
						<p>
							<input type="text" class="form-control" name="describe" value="${updateDescribes}" />
						</p>
					</div>
					<div>
						<p>
							<input type="text" class="form-control" name="sno" value="<%= sno %>" style="display: none;" />
						</p>
					</div>			
					<div class="dialog-submit">
						<button class="determine">确定</button>
					</div>
				</form>
				<div class="dialog-table-update">
					<button class="cancel">取消</button>	
				</div>
			</div>
			`
		 	$('body').append( updateHtml );
		})
		
		//取消修改操作
		$('body').on('click','.close,.cancel',function(){
			$('.isUpdate').hide();
		})
	})
  </script>
  </body>
</html>